@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }


.navbar{
  padding: 0.7rem 2rem;
  background-color: #043a5a;
  color: #f4f4f4;
  width: 100%;
}

.btn {
  display: inline-block;
  background: #043a5a;
  color:#f4f4f4;
  padding: 0.6rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
    margin-top:1rem;
      }
    .btn:hover{
    opacity: 0.9;
  }

  /*add blog*/
.addblog h1{
  color:#043a5a ;
}

form input[type=text], input[type=textarea]{
  border:none;
   height: 2.5rem;
  font-size:1.2rem;
  border-bottom: solid 1px gray;
  margin-top:2rem;
}
form input[type=text]:focus, input[type=textarea]:focus  {
  outline: none !important;
  border-bottom:1px solid #043a5a ;   
}

form input[type=textarea]{
  margin-top:20rem;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
   }
   
.addblog{
  max-width: 30rem;
  margin: auto;
  margin-top: 3rem;

  }
 
  
.main {
  display: flex;
  justify-content: space-around;
  align-items: flex-end

}